*{
	padding: 100;
	margin: 0;
	font-family: century-gotic;
}

form {
	padding: 0px 20px;
	background-color: #ededed;
	margin: calc(25% + 100px);
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
}


h1 {
	text-align: center;
	padding: 12px;
	color: #444
}

label {
	text-align: right-side;
	font-size: 18px;
	font-weight: bold;
	font-family: arial;
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px;
}

select {
	width: calc(105% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}


input[type='submit']{
	background-color: #48e;
	color: #fff;
	width: calc(105% - 20px);
	margin: auto;
	margin-top: 22px;
	border: none;
}


.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff
}
.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}

